.portfolio {
  &__container {
    overflow: initial;
  }

  &__content {
    padding: 0 1.5rem;
    transform: translateZ(0);
  }

  &__img {
    width: 265px;
    border-radius: 0.5rem;
    justify-self: center;
    transform: translateZ(0);
  }

  &__title {
    font-size: $h3-font-size;
    margin-bottom: $mb-0-5;
  }

  &__description {
    margin-bottom: $mb-0-75;
  }

  &__button:hover .button__icon {
    transform: translateX(0.25rem);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: $first-color;
}

.swiper-button {
  &-prev {
    left: -1rem;
  }
  &-next {
    right: -1rem;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: $first-color;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}
