@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: $h1-font-size;
  text-align: center;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: $mb-3;
  text-align: center;
}

/*============================= LAYOUT ==================================*/

.container {
  max-width: 768px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*============================= BUTTONS ==================================*/
.button {
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;
  transition: 0.3s;
  &:hover {
    background-color: $first-color-alt;
  }
  &__icon {
    font-size: 1.25rem;
    margin-left: $mb-0-5;
    transition: 0.3s;
  }
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: $first-color;

  &:hover {
    background-color: transparent;
    color: $first-color-alt;
  }
}

.button--white {
  background-color: #fff;
  color: $first-color;
  &:hover {
    background-color: #fff;
  }
}

/*============================= CUSTOM ICONS ==================================*/

.upwork__icon {
  width: 1.25rem;
  fill: $first-color;
  &:hover {
    fill: $first-color-alt;
  }
}

.fiverr__icon {
  width: 0.85rem;
  fill: $first-color;
  &:hover {
    fill: $first-color-alt;
  }
}

.upwork__icon-footer {
  width: 1.25rem;
  fill: #fff;
  &:hover {
    fill: $first-color-lighter;
  }
}

.fiverr__icon-footer {
  width: 0.9rem;
  fill: #fff;
  &:hover {
    fill: $first-color-lighter;
  }
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: $first-color;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: $z-tooltip;
  transition: 0.4s;
  &:hover {
    background-color: $first-color-alt;
  }

  &__icon {
    font-size: 1.5rem;
    color: #fff;
  }
}

.show-scroll {
  bottom: 5rem;
}

/*============================= SCROLL BAR ==================================*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $scroll-bar-color;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-thumb-color;
  border-radius: 0.5rem;
  &:hover {
    background-color: $text-color-light;
  }
}

/*============================= IMPORTS ==================================*/

@import "nav-bar";
@import "home";
@import "about";
@import "skills";
@import "qualifications";
@import "services";
@import "_portfolio";
@import "_projects";
@import "testimonial";
@import "contact";
@import "footer";
@import "change-theme";
